/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
}

input{
    margin-top: 200px 0 0 0;
}
.chat-window{
    max-width: 43%;
    border: 1px solid blue;
    border-radius: 15px;
    padding:15px;
    height: 390px;
    margin-top: 30px;
    overflow: scroll;
}